<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2012-2015 Thales Services SAS.

    This file is part of AuthZForce.

    AuthZForce is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    AuthZForce is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with AuthZForce.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
						http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
						http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath:META-INF/spring/beans.xml" />

	<!-- <cxf:bus> <cxf:features> <cxf:logging/> </cxf:features> </cxf:bus> -->

	<jaxrs:server id="tazService" address="/" docLocation="classpath:/authz-api.wadl" staticSubresourceResolution="true">
		<jaxrs:providers>
			<ref bean="jaxbProvider" />
			<bean class="org.ow2.authzforce.rest.service.jaxrs.BadRequestExceptionMapper" />
			<bean class="org.ow2.authzforce.rest.service.jaxrs.ClientErrorExceptionMapper" />
			<bean class="org.ow2.authzforce.rest.service.jaxrs.NotFoundExceptionMapper" />
			<bean class="org.ow2.authzforce.rest.service.jaxrs.ServerErrorExceptionMapper" />
		</jaxrs:providers>
		<jaxrs:properties>
			<entry key="org.apache.cxf.propagate.exception" value="false" />
			<!-- See http://cxf.apache.org/docs/security.html, for "Controlling Large Request Payloads" and mitigate 
				XML DoS attacks (since CXF 2.7.4). Example below with controlling max child elements. -->
<!-- 			<entry key="org.apache.cxf.stax.maxChildElements" value="100"/> -->
<!-- 			<entry key="org.apache.cxf.stax.maxElementDepth" value="10"/> -->
<!-- 			<entry key="org.apache.cxf.stax.maxAttributeSize" value="500"/> -->
<!-- 			<entry key="org.apache.cxf.stax.maxTextLength" value="1000"/> -->
		</jaxrs:properties>
		<jaxrs:serviceBeans>
			<ref bean="domainsResourceBean" />
		</jaxrs:serviceBeans>
		<!-- USE Logging{In,Out}Interceptor FOR DEBUGGING ONLY -->
		<!-- <jaxrs:inInterceptors> -->
		<!-- <bean class="org.apache.cxf.interceptor.LoggingInInterceptor" /> -->
		<!-- </jaxrs:inInterceptors> -->
		<!-- <jaxrs:outInterceptors> -->
		<!-- <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" /> -->
		<!-- </jaxrs:outInterceptors> -->
		<jaxrs:outFaultInterceptors>
			<bean class="org.ow2.authzforce.rest.service.jaxrs.ErrorHandlerInterceptor" />
		</jaxrs:outFaultInterceptors>
	</jaxrs:server>
</beans>
